<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGymnasium"
        tools:targetApi="31">
        <activity
            android:name=".Routines.PostWorkoutRoutines"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar."/>
        <activity
            android:name=".Routines.PreWorkoutRoutines"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.ExercisesView"
            android:exported="false" />
        <activity
            android:name=".Workouts.FullBody.FullBodyFriday"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.FullBodyThursday"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.FullBodyWednesday"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.FullBodyTuesday"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.FullBodyMonday"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Workouts.FullBody.FullBodyWorkout"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".Routines.FullBodyRoutines"
            android:exported="false"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
        <activity
            android:name=".BMI.BMI"
            android:exported="false" />
        <activity
            android:name=".BMI.YourHeight"
            android:exported="false" />
        <activity
            android:name=".BMI.TargetWeight"
            android:exported="false" />
        <activity
            android:name=".BMI.YourWeight"
            android:exported="false" />
        <activity
            android:name=".ChooseTarget"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.MyGymnasium.NoActionBBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MyGymnasium.DarkActionBar." />
    </application>

</manifest>